# Local Netlify folder
/node_modules/
.env
.vscode
package-lock.json
# Local Netlify folder
.netlify
/articles/.obsidian
/articles/.obsidian
/articles/.obsidian
.stylelintignore
.stylelintrc.json
package-lock.json
package.json
.gitattributes
/.vscode/
CNAME
